body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img {
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
   
    bottom: 0;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}